@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.top-container {
  display: grid;
  grid-gap: 20px;

  grid-template-areas:
    "showcase "
    "top-box-a"
    "top-box-b";
  @include atSmall {
    grid-template-areas:
      "showcase showcase"
      "top-box-a top-box-b";
  }

  @include atMedium {
    grid-template-areas:
      "showcase showcase top-box-a"
      "showcase showcase top-box-b";
  }
}

.showcase {
  grid-area: showcase;
  min-height: 400px;

  background-image: url("../../images/showcase.jpg");
  background-size: cover;
  background-position: center;

  padding: 3rem;
  box-shadow: $mainShadow;
  color: $mainLight;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .showcase-text {
    display: flex;

    flex-direction: column;
    align-items: start;
    justify-content: center;

    // background-color: yellow;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 0;
    }
    p {
      font-size: 1.3rem;
      margin-top: 0;
    }
    @include atMedium {
      h1 {
        font-size: 4rem;
        margin-bottom: 0;
      }
      p {
        font-size: 1.3rem;
        margin-top: 0;
      }
    }
  }

  img {
    // background: url("../../images/showcase.jpg");
    // background-size: cover;
    // background-position: center;
    position: absolute;
    top: 0;
    // width: 100%;
    // height: 100%;
  }
}
.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
}

.top-box {
  background: $primary;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: $mainShadow;
  padding: 1.5rem;

  .price {
    font-size: 2.5rem;
  }
}
