@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.footer {
  margin-top: 2rem;
  background: $mainDark;
  color: $mainLight;
  text-align: center;
  padding: 1rem;
}
