@import "./variables.scss";

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: $mainDark;
  background: #ccc;
  // overflow: hidden;
}
.btn {
  background-color: $mainDark;
  color: $mainLight;
  text-decoration: none;
  padding: 0.6rem 1.3rem;
  border-radius: 10px;
  border: 0;

  &:hover {
    background-color: $mainLight;
    color: $mainDark;
    transition: all 0.5s ease-out;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
